# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
/dist/
backend/dist/

# Node
node_modules/
frontend/dist/
frontend/electron/dist/
frontend/.vite/

# Misc
.env
.env.*
*.glb
/tmp/
.DS_Store
/frontend/release
